.stats_card {
  background-color: #314da6;
  color: white;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;

  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
  }

  span {
    font-size: 4rem;
    line-height: 1;
  }
}

@media (max-width: 440px) {
  .stats_card {
    padding: 0.5rem;
  }

  .stats_card h2 {
    font-size: 0.8rem;
  }

  .stats_card span {
    font-size: 2rem;
  }
}